[build]
  # Pas de commande de build nécessaire pour un site HTML statique
  command = "echo 'No build required for static HTML'"
  # Le répertoire à publier est la racine du projet
  publish = "."

# Headers pour optimisation
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
